<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
		<main id="results">
			<img
				src="<%=product.image_url %>"
				srcset="
            <%= product.image_url %> 800w, 
            <%= product.image_small_url %> 400w, 
            <%= product.image_thumb_url %> 200w"
				alt="Product image"
			/>
			<h1><%= product.product_name %>, <%= product.quantity %></h1>
			<p></p>

			<% if(product.ingredients_text_en) { %>
			<section>
				<h3>Ingredients:</h3>
				<ul>
					<% product.ingredients_text_en.split(', ').forEach(ingredient=> { %>
					<li>- <%= ingredient %></li>
					<% }) %>
				</ul>
			</section>
			<% } %> <% if(product.allergens_imported) { %>
			<section>
				<h3>Allergies:</h3>
				<ul>
					<% product.allergens_imported.split(', ').forEach(allergen=> { %>
					<li>- <%= allergen %></li>
					<% }) %>
				</ul>
			</section>
			<% } %>

			<a href="/" id="scan-button"> terug </a>
		</main>
	</body>
</html>
